<ion-view view-title="{{estabelecimento}}" class="">
<ion-nav-buttons side="right">
  <button ng-if="cartItems.length > 0" ui-sref="app.checkout" class="button button-clear button-icon ion-card"></button>
</ion-nav-buttons>
<ion-content has-header="false" has-bouncing="false" class="contact-page">
<div class="list cart-list">
    <div class="item" ng-if="cartItems.length < 1">
      <p>Nenhum produto no pedido. <br/>Continuar <a ui-sref="app.dishitems" ui-sref-opts="{reload: true, notify: true}">comprando</a></p>
    </div> 
    
    <div class="item item-thumbnail-left" 
          ng-repeat="(key,item) in cartItems">
    <!--   <img ng-if="item.type=='food'"  ng-src="{{imgroot}}/foods/{{item.image}}" alt="">
      <img ng-if="item.type=='package'" ng-src="{{imgroot}}/packages/{{item.image}}" alt=""> -->
      <h2>
      <a ng-if="item.type=='food'" ui-sref="app.dishdetails({dishid:item.id})">
       <b>{{item.PRA_Nome}} </b> ({{item.PRA_Preco | currency:curSymbol.symbol2}})
      </a>
      <a ng-if="item.type=='package'" ui-sref="app.package({packageid:item.id})">
        {{item.name}} ({{item.PRA_Preco | currency:curSymbol.symbol2}})
      </a>
      </h2>
      <p>{{item.qty}} x {{item.qty * item.PRA_Preco  | currency:curSymbol.symbol2}}</p>
      <input class="dish_obs" value="" ng-model="item.PRA_Observacao" ng-click="showPopup(item,key)"><i>Observações</i><!-- <input type="text" value="Observações" ng-change="update_obs(item)" ng-model="item.PRA_Observacao"> --></input>
   <!--    <div class="item-meta">
        <label class="item-input item-ipnut">
          <div class="input-label">
            Quantidade
          </div>
          <input type="number"  ng-model="item.qty" name="qty" class="item-qty">
        </label>
      
      </div>       -->
      <div class="price">
        <button class="cart-remove-btn" ng-click="cartRemove($index,item.id)">
          <i class="ion ion-ios-close-empty"></i>
        </button>
      </div>
    </div>
</div>
   <a  class="button button-block button-assertive" ng-if="cartItems.length > 0"  ui-sref="app.dishitems">
         Continuar comprando
        </a>

</ion-content>

<footer>
  
</footer>
<ion-footer-bar align-title="left" class="footer-total">
  <!-- <div class="padding"> -->
    <h1>Total: <span class="amount">{{totalAmount() | currency:curSymbol.symbol2}}</span></h1>
  <!-- </div> -->
  <div class="buttons">
    <a ng-if="cartItems.length > 0" ui-sref="app.checkout" class="button button-balanced checkout-btn button-with-icon ion-card">
      Fechar Pedido
    </a>
  </div>
</ion-footer-bar>
</ion-view>