<ion-view view-title="{{estabelecimento}}" class="">
<ion-nav-buttons side="right">
  <a href="#" ng-click="share()" class="button button-icon ion-android-share-alt"></a>
</ion-nav-buttons>
<ion-content has-header="false" has-bouncing="false" class="dish-list dish-details">
	<div class="list card dish-item">
	
	  <div class="item item-image" ng-if="dish.PRA_Imagem">
	    <!-- <img ng-src="{{imgroot}}/{{dish.PRA_Imagem}}" alt="{{dish.PRA_Imagem}}"> -->
	    <img ng-src="img/dishitems/dish-1.jpg">
	  </div>
	  	<div class="item-title">
	   	<h4 ng-bind="dish.PRA_Nome">...</h4>
<!-- 	   	<span class="cuisine" ng-bind="dish.details"></span>
 -->	   </div>
	  <div class="item item-footer">	   
	   <div class="item-meta">
	   <span class="item-price">{{dish.PRA_Preco | currency:curSymbol.symbol}}</span>
<!-- 	   <span class="item-likes">Liked: {{dish.likes}}</span>
 -->	   </div>
	   <div class="item-options">	   	
	   <!-- 	<like-btn dish-id="dish.id" dish-likes="dish.likes"></like-btn> -->
	   	<span cart-btn dish="dish" type="'food'"></span>
	   </div>
	  </div>
	</div>
	<div class="dish-content padding" ng-bind-html="dish.PRA_Descricao">
	</div>	
	<div class="dish-content padding"><small>Ultima atualização: {{dish.PRA_DataAtualizacao | date:"MM/dd/yyyy 'às' H:mm'h' " }}</small>
	</div>	
</ion-content>
</ion-view>