<ion-view view-title="{{estabelecimento.name}}" class="">
<ion-content has-header="false" has-bouncing="false" class="dish-list dish-details">
	<div class="list card dish-item">
	
	  <div class="item item-image" ng-if="estabelecimento.EMP_Logo">
	    <img ng-src="http://easyresto.esy.es/assets/media/{{estabelecimento.EMP_Logo}}" alt="http://easyresto.esy.es/assets/media/{{estabelecimento.EMP_Logo}}">
	  </div>
	  	<div class="item-title">
	   	<h4 ng-bind="estabelecimento.EMP_Nome">...</h4>
<!-- 	   	<span class="cuisine" ng-bind="dish.details"></span>
 -->	   </div>
	  <div class="item item-footer">	   
	   <div class="item-meta">
	   <span class="item-price">{{dish.price | currency:curSymbol.symbol}}</span>
<!-- 	   <span class="item-likes">Liked: {{dish.likes}}</span>
 -->	   </div>
	   <div class="item-options">	   	
	   <!-- 	<like-btn dish-id="dish.id" dish-likes="dish.likes"></like-btn> -->
	   	<span cart-btn dish="dish" type="'food'"></span>
	   </div>
	  </div>
	</div>
	<div class="content padding">
	<dl class="address">
		<dt>Endereço:</dt><dd>{{estabelecimento.EMP_Rua}}, {{estabelecimento.EMP_Bairro}} - {{estabelecimento.EMP_Cidade}}/{{estabelecimento.EMP_UF}}	  </dd>
		<dt>E-mail:</dt><dd>{{estabelecimento.EMP_Email}}</dd>
		<dt>Telefone:</dt><dd><a ng-href="tel:{{estabelecimento.EMP_Telefone}}" >{{estabelecimento.EMP_Telefone}}</a></dd>
		<dt>Site:</dt><dd><a ng-href="{{estabelecimento.EMP_Site}}" target="_blank">{{estabelecimento.EMP_Site}}</a></dd>
	</dl>	
</div>
</ion-content>
</ion-view>