<ion-view view-title="{{estabelecimento.name}}" class="">
<ion-content has-header="false" has-bouncing="false" class="dish-list dish-details">
	<div class="list card dish-item">
	
	  <div class="item item-image" ng-if="estabelecimento.image">
	    <img ng-src="{{imgroot}}/{{estabelecimento.image}}" alt="{{estabelecimento.image}}">
	  </div>
	  	<div class="item-title">
	   	<h4 ng-bind="estabelecimento.name">...</h4>
<!-- 	   	<span class="cuisine" ng-bind="dish.details"></span>
 -->	   </div>
	  <div class="item item-footer">	   
	   <div class="item-meta">
	   <span class="item-price">{{dish.price | currency:curSymbol.symbol}}</span>
<!-- 	   <span class="item-likes">Liked: {{dish.likes}}</span>
 -->	   </div>
	   <div class="item-options">	   	
	   <!-- 	<like-btn dish-id="dish.id" dish-likes="dish.likes"></like-btn> -->
	   	<span cart-btn dish="dish" type="'food'"></span>
	   </div>
	  </div>
	</div>
	<div class="content padding">
	<dl class="address">
		<dt>Endereço:</dt><dd>{{estabelecimento.address}}</dd>
		<dt>E-mail:</dt><dd>{{estabelecimento.email}}</dd>
		<dt>Telefone:</dt><dd><a ng-href="tel:{{estabelecimento.website}}" >{{estabelecimento.phone}}</a></dd>
		<dt>Site:</dt><dd><a ng-href="{{estabelecimento.website}}" target="_blank">{{estabelecimento.website}}</a></dd>
	</dl>	
</div>
</ion-content>
</ion-view>