<ion-nav-view>
<ion-view view-title="Meus Pedidos" class="">
<ion-nav-title>Meus Pedidos</ion-nav-title>
<ion-nav-buttons side="right">
  <button class="button button-icon iconic iconic-filter" menu-toggle="right">     
  </button>
</ion-nav-buttons>
<ion-content ng-init="search = ''" has-header="true" has-bouncing="true" class="scroll-content ionic-scroll  has-header" >
	<div class="pedidos-list">
<div class="item item-thumbnail-left item-text-wrap" ng-repeat="pedido in pedidos">
<a  ng-click="modal.show()">

   <div class="item item-image" >
      <img src="http://www.freeiconspng.com/uploads/actions-ok-icon-26.png">
    </div>
    <h2>Pedido: {{pedido.id}} - {{pedido.estabelecimento}}</h2>
   
	   <p>Data: {{pedido.created_at}}</p>

</a>
</div>
</div>
</ion-content>
</ion-view>
</ion-nav-view>