<ion-view view-title="{{estabelecimento}}" class="">
<ion-content has-header="false" has-bouncing="false" class="confirm-order">

	<div class="row info-bar">
		<a class="col-50 cart-item-count" ui-sref="app.cart">
			<span class="badge badge-assertive">
				{{cartItems.length}}
			</span>
			<span ng-if="cartItems.length == 1">Item <br> Selecionado</span>
			<span ng-if="cartItems.length > 1">Itens <br> Selecionados</span>
		</a>
		<div class="col-50">
			<span class="total-amount">{{totalAmount | currency:curSymbol.symbol2}}</span>
			<span>Subtotal </span>
		</div>
	</div>
	  <div style="text-align:center" class="padding" ng-if="!user" >  <br/>  
      <b>Parece que este é o seu primeiro pedido em nossa plataforma. Por favor realize seu cadastro, é rapidinho :) </b>
      <br/>
    </div> 
      		<div class="row info-bar">
		  	<div class=" col-50">
		  	<button 
		  	class="button button-block button-balanced" ng-click="desejoLogar = true;desejoRegistrar = false " 		  	
		  	>Já tenho conta</button>
		  </div>
		  <div class=" col-50">
		  	<button type="submit"
		  	class="button button-block button-assertive" 		  	
		   ng-click="desejoRegistrar = true;desejoLogar = false">Quero Cadastrar</button>
		  	</div>
		  			  	<div class="alert success  fade checkout-alert"  ng-bind="message" ng-class="{active:messageShow}"></div>
	
		  </div>
	<div class="padding"  ng-if="desejoLogar">
		<form name="loginForm" no-validate ng-submit="actionLogin()">
			  <label class="item item-input">
		      <div class="input-label">
		        CPF
		      </div>
		     <input type="text" name="cpf" 
		     ng-model="login.cpf"
		     required>
		  </label>
		  <label class="item item-input">
		      <div class="input-label">
		        Telefone
		      </div>
		     <input type="text" name="phone" 
		     ng-model="login.phone"
		     ng-pattern="/([0-9]{10})/"
		     required>
		  </label>
		
		  	<div class="row">
	   	<button
		  	class="button button-block button-balanced" ng-disabled="loginForm.$invalid"		  	
		  	>Prosseguir</button></div>

		 
	</form>
	</div>
	<div class="padding" ng-if="desejoRegistrar">
		<form name="registerform" no-validate ng-submit="actionLogin()">
			  <label class="item item-input">
		      <div class="input-label">
		        CPF
		      </div>
		     <input type="text" name="cpf" 
		     ng-model="register.cpf"
		     required>
		  </label>
		  <label class="item item-input">
		      <div class="input-label">
		        Nome
		      </div>
		     <input type="text" ng-model="register.name" name="name">
		  </label>
		  <label class="item item-input">
		      <div class="input-label">
		        E-mail
		      </div>
		     <input type="text" name="email" 
		     ng-model="register.email" 
		     ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
		     required>
		  </label>
		  <label class="item item-input">
		      <div class="input-label">
		        Telefone
		      </div>
		     <input type="text" name="phone" 
		     ng-model="register.phone"
		     ng-pattern="/([0-9]{10})/"
		     required>
		  </label>

		
		
		  	<div class="row">
		<button type="submit"
		  	class="button button-block button-balanced" 		  	
		  	ng-disabled="registerform.$invalid">Prosseguir</button></div>

		 
	</form>
	</div>
</ion-content>
</ion-view>