<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.easyresto.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>EasyResto</name>
  <description>
        EasyResto
    </description>
  <author email="fabioweydson@gmail.com" href="">
        Fabio Weydson
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <access launch-external="yes" origin="tel:*"/>
  <access launch-external="yes" origin="mailto:*"/>
  <access launch-external="yes" origin="maps:*"/>
  <access launch-external="yes" origin="geo:*"/>
  <platform name="android">
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="23" />
  </platform>
  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser"/>
  </feature>
  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.NetworkManager" />
  </feature>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <plugin name="cordova-plugin-fcm-config" spec="cordova-plugin-fcm-config" />
  <plugin name="cordova-plugin-network-information"/>
  <plugin name="cordova-plugin-email"/>
  <plugin name="cordova-plugin-camera"/>
  <plugin name="cordova-plugin-barcodescanner"/>
  <plugin name="cordova-plugin-device"/>
  <plugin name="cordova-plugin-inappbrowser"/>
  <plugin name="cordova-plugin-splashscreen"/>
  <plugin name="cordova-plugin-whitelist"/>
  <plugin name="ionic-plugin-keyboard"/>
  <plugin name="cordova-plugin-fcm"/>
  <plugin name="cordova-android-play-services-gradle-release"/>

</widget>
